@{
    Layout = null;
    ViewBag.Title = "Index";
}
<link href="~/Content/bootstrap.css" rel="stylesheet" />
<link href="~/Content/PageIntro.css" rel="stylesheet" />
<header class="header">
    <div class="text-vertical-center" >
        <img src="~/Images/logo.png" height="150"/>
        <h1>PROFILER</h1>
        <h3>Editeur De Profil En Ligne</h3>
        <br>
        <a href="~/Account/login" class="btn btn-dark btn-lg">Commencer maintenant</a>
    </div>
</header>